.user-dropdown {
    color: white;
    position: relative;
    display: inline-block;
}

.user-dropbtn {
    color: white;
    cursor: pointer;
}

.user-dropcontent {
    display: none;
    position: absolute;
    font-size: 1rem;
    background-color: #f1f1f1;
    color: black;
    border-radius: 5%;
    z-index: 1;
}

.user-dropcontent span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.user-dropcontent span:hover{
    background-color: #ddd;
}

.user-dropdown:hover .user-dropcontent{
    display: block;
   
}


#id_confrmdiv
{
    display: none;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #aaa;
    position: fixed;
    width: 300px;
    height: 10rem;
    left: 50%;
    margin-left: -150px;
    margin-top: 150px;
    z-index: 34;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}
